@import "reset.css";

@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,700);

* { transition-duration: .2s; }

body { 
	font: normal 14px 'Open Sans', Arial, sans-serif;
	color: #777;
	background: #f1f1f1;
}

.wrap {
	width: calc(100% - 100px);
	margin: 0 auto;
}

#title {
	color: #555;
	font-size: 50px;
	margin-top: 40px;
}

#loading {
    background-color: #ffffff;
    display: none;
    height: 16px;
    background: url(../images/loading1.gif) no-repeat center;
    left: 50%;
    margin: -10px auto -6px -8px;
}

#msg { display: block }
#msg .msg-text {  padding:1px 4px; font-weight:bold; cursor:pointer; }
#msg .msg-details { padding:1px 4px; background-color:#fff; display:none;  }
#msg.msg-error .msg-text { background-color:#ff3333; }
#msg.msg-error .msg-details { border:1px solid #ff3333;  }
#msg.msg-info .msg-text { background-color:#EFC300; }
#msg.msg-info .msg-details { border:1px solid #EFC300;}

#task-list {
	width: 88%;
	background: #fff;
	box-shadow: 2px 2px 0px #ddd;
	padding: 22px 6%;
	margin-top: 20px;
}

#task-list ul:empty:after {
	content: "Seems a bit quiet here \A Why don't you add a new task below?";
	display: block;
	white-space: pre;
	color:"#999";
}

#task-list li {
	font-size: 1.2em;
	padding: 8px 8px 8px 0;
	overflow: hidden;
}

#task-list li:hover {
	padding: 8px;
}

#task-list li span {
	width: 86%;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	float: left;
}

#task-list li .complete-button, #task-list li .delete-button {
	width: 10px;
	height: auto;
	padding-top: 7px;
	float: right;
	vertical-align: top;
	opacity: 0.5;
	cursor: pointer;
}

#task-list li .complete-button:hover, #task-list li .delete-button:hover {
	opacity: 0.85;
}

#complete-all {
	display: block;
	padding: 10px;
	width: -webkit-fill-available;
	margin-top: 20px;
}

#complete-all:hover {
	background: #dae0e2;
}

#task-list ul:empty + #complete-all {
	display: none;
}

#add-new-task {
	margin-top: 20px;
	padding-bottom: 60px;
}

#add-new-task input[type='text'] {
	width: 100%;
	font: normal 1.2em 'Open Sans', Arial, sans-serif;
	color: #999;
	box-shadow: 2px 2px 0px #ddd;
	border: none;
	border-radius: none;
	display: block;
	padding: 12px 6%;
	-webkit-appearance: none;
	   -moz-appearance: none;
			appearance: none;
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
			box-sizing: border-box;
}

:focus {
	outline: 0;
}

@media all and (max-width: 425px) {
	.wrap {
		width: 90%;
		margin: 0 auto;
	}
}